<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>페이지 타이틀 입니다.</h2>

    <header>
        <nav>
            <a href = "/">SURVILLANCE-SYSTEM</a> | 
            <a href = "/notice">공지사항</a> | 
            <a href = "/howToUse">사용방법</a> | 
            <a href = "/simulation">시뮬레이션</a> | 

        </nav>
    </header>
    <hr>
