    <%-include('header.ejs')%>
        <img src="/homebanner.png">
        홈페이지에 어서오세요

        <form action = "/simulation" method = "get">
            <button>시뮬레이션 하러가기 < click</button>
        </form>
    <%-include('footer.ejs')%>